Template: @@NAME@@/add-forge-repo
Type: boolean
Default: true
Description: Add Forge apt repository for Forge IDE?
 The installer would like to add the Forge repository and signing
 key to update Forge IDE through apt.
